/* src/index.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.MuiContainer-root {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.MuiButton-outlinedPrimary {
  border-color: #000;
  color: #000;
}

.MuiTypography-body1,
.MuiTypography-h2,
.MuiTypography-h5 {
  color: #000;
}




